<div>
    <form [formGroup]="form" style="width: 250px; margin-left: 20px;margin-bottom: 20px;">
        <h4>Filter</h4>
        <select class="default-select form-control" formControlName="filterName" data-placeholder="Filter"
            name="category-color" (change)="filterStatus()">
            <option *ngFor="let f of filters" [value]="f">
                {{ f }}
            </option>
        </select>
    </form>
    <app-table [tableData]="tableData" [tableColumns]="tableColumns" (statusChanged)="changeStatus($event)"
        [totalPages]="pagination.totalPages" [pageSize]="pagination.pageSize" (pageChanged)="changePage($event)"
        (orderClicked)="viewOrder($event)"></app-table>
</div>