<div>
    <div class="basic-dropdown col-lg-12" style="margin-bottom: 20px;">
        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                Filter
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" (click)="filterStatus('Poručeno')">Poručeno</a>
                <a class="dropdown-item" (click)="filterStatus('Završeno')">Završeno</a>
                <a class="dropdown-item" (click)="filterStatus('Plaćeno')">Plaćeno</a>
                <a class="dropdown-item" (click)="filterStatus('Sve')">Sve</a>
            </div>
        </div>
    </div>
    <app-table [tableDataSrc]="tableData" [tableColumns]="tableColumns" (eventEmitter)="changeStatus($event)">
    </app-table>
    <app-pagination [totalItems]="pagination.totalPages" [pageSize]="pagination.pageSize" (pageSelected)="changePage($event)"></app-pagination>
</div>