<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Promjena lozinke</h4>
                                    <form [formGroup]="form" (ngSubmit)="submit()">
                                        <div class="form-group">
                                            <label><strong>Stara lozinka</strong></label>
                                            <input type="password" class="form-control" formControlName="oldPassword"/>
                                            <div *ngIf="errorHandling('oldPassword', 'required')" id="val-email-error" class="invalid-feedback animated fadeInUp"
                                                style="display: block;">
                                                Stara lozinka mora biti unijeta
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Nova lozinka</strong></label>
                                            <input type="password" class="form-control" formControlName="password">
                                            <div *ngIf="errorHandling('password', 'required')" id="val-email-error" class="invalid-feedback animated fadeInUp"
                                                style="display: block;">
                                                Lozinka mora biti unijeta
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Ponovljena nova lozinka</strong></label>
                                            <input type="password" class="form-control" formControlName="repeatedPassword"/>
                                            <div *ngIf="errorHandling('repeatedPassword', 'required')" id="val-email-error" class="invalid-feedback animated fadeInUp"
                                                style="display: block;">
                                                Lozinka mora biti unijeta
                                            </div>
                                            <div *ngIf="form.errors?.['samePassword']" id="val-email-error" class="invalid-feedback animated fadeInUp"
                                            style="display: block;">
                                                Lozinke moraju biti iste
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-block">Promjeni lozinku</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

