<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-sm mb-0 table-striped">
              <thead>
                <tr>
                  <th>Ime i prezime</th>
                  <th>Email</th>
                  <th>Broj telefona</th>
                  <th>Broj računa</th>
                  <th>Tip</th>
                  <th>Plata</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="customers">
                <tr class="btn-reveal-trigger" *ngFor="let user of users">
                  <td class="py-3">
                    <div class="media d-flex align-items-center">
                      <div class="media-body">
                        <h5 class="mb-0 fs--1">{{ user.name }}</h5>
                      </div>
                    </div>
                  </td>
                  <td class="py-2">
                    <a href="mailto:ricky@example.com">{{
                      user.emailAddress
                    }}</a>
                  </td>
                  <td class="py-2">
                    <a href="tel:2012001851">{{ user.phoneNumber }}</a>
                  </td>
                  <td class="py-2 pl-5">{{ user.accountNumber }}</td>
                  <td class="py-2">{{ usersRolesTraslated.get(user.role) }}</td>
                  <td class="py-2">{{ user.salaryDto.value}}</td>
                  <td class="py-2 text-right">
                    <div class="dropdown">
                      <button
                        class="btn btn-primary tp-btn-light sharp"
                        type="button"
                        data-toggle="dropdown"
                      >
                        <span class="fs--1"
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="18px"
                            height="18px"
                            viewBox="0 0 24 24"
                            version="1.1"
                          >
                            <g
                              stroke="none"
                              stroke-width="1"
                              fill="none"
                              fill-rule="evenodd"
                            >
                              <rect x="0" y="0" width="24" height="24"></rect>
                              <circle
                                fill="#000000"
                                cx="5"
                                cy="12"
                                r="2"
                              ></circle>
                              <circle
                                fill="#000000"
                                cx="12"
                                cy="12"
                                r="2"
                              ></circle>
                              <circle
                                fill="#000000"
                                cx="19"
                                cy="12"
                                r="2"
                              ></circle>
                            </g>
                          </svg>
                        </span>
                      </button>
                      <div
                        class="dropdown-menu dropdown-menu-right border py-0"
                      >
                        <div class="py-2">
                          <a
                            *ngIf="loggedUserRole === 'ROLE_MANAGER'"
                            class="dropdown-item"
                            type="button"
                            (click)="editUser($event, user)"
                            data-toggle="modal"
                            data-target="#exampleModalCenter"
                          >
                            Uredi
                          </a>
                          <a
                            class="dropdown-item text-danger"
                            *ngIf="
                              loggedUserRole === 'ROLE_SYSTEM_ADMIN' &&
                              loggedUserId !== user.id
                            "
                            (click)="deleteUser($event, user)"
                            >Izbriši</a
                          >
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="bootstrap-modal">
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Uredi korsinika</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="basic-form">
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <fieldset disabled>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label>Ime i prezime</label>
                        <input
                          class="form-control"
                          placeholder="Ime i prezime"
                          formControlName="name"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label>Email</label>
                        <input class="form-control" placeholder="Email" formControlName="userEmail"/>
                      </div>
                    </div>
                  </fieldset>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Plata</label>
                      <input class="form-control" placeholder="Plata" formControlName="value"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input [attr.disabled]="!currentRolePriority ? true : null" class="form-check-input" type="checkbox" formControlName="priority"/>
                      <label class="form-check-label"> Prioritet </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary"  >Ažuriraj korisnika</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
