<div class="row">
    <div class="col-xl-10">
        <div class="card">
            <div class="card-body pt-2">
                <div class="order-create-table">
                    <table class="table items-table">
                        <tr>
                            <th></th>
                            <th class="order-create-th my-0 text-black font-w500 fs-20">
                                <small class="order-create-small">
                                    Količina
                                </small>
                            </th>
                            <th style="width:20%;" class="my-0 text-black font-w500 fs-20">
                                <small class="order-create-small">
                                    Cena(RSD)
                                </small>
                            </th>
                            <th class="my-0 text-black font-w500 fs-20">
                                <small class="order-create-small">
                                    Status
                                </small>
                            </th>
                            <th class="order-create-th my-0 text-black font-w500 fs-20">
                                <small class="order-create-small">
                                    Napomena
                                </small>
                            </th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let orderItem of orderItems">
                            <td>
                                <div class="media">
                                    <img class="mr-3 img-fluid rounded" width="85"
                                        src="../../../../assets/images/card/3.png" alt="">
                                    <div class="media-body">
                                        <small class="mt-0 mb-1 text-primary font-w500">{{orderItem.category}}</small>
                                        <h5 class="mt-0 mb-2 text-black mb-4" style="font-size: small;">
                                            {{orderItem.name}}</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4 class="my-0 text-secondary font-w600 order-create-small">
                                    {{orderItem.quantity}}
                                </h4>
                            </td>
                            <td>
                                <h4 class="my-0 text-secondary font-w600 order-create-small">
                                    {{orderItem.discount}}</h4>
                            </td>
                            <td>
                                <h4 *ngIf="orderItem.status === 'Poručeno'"
                                    class="my-0 text-warning font-w600 order-create-small">
                                    {{orderItem.status}}</h4>
                                <h4 *ngIf="orderItem.status === 'U pripremi'"
                                    class="my-0 text-danger font-w600 order-create-small">
                                    {{orderItem.status}}</h4>
                                <h4 *ngIf="orderItem.status === 'Pripremljeno'"
                                    class="my-0 text-success font-w600 order-create-small">
                                    {{orderItem.status}}</h4>
                                <h4 *ngIf="orderItem.status === 'Servirano'"
                                    class="my-0 text-primary font-w600 order-create-small">
                                    {{orderItem.status}}</h4>
                            </td>
                            <td>
                                <h4 class="my-0 text-secondary font-w600 order-create-small">
                                    {{orderItem.note}}</h4>
                            </td>
                            <td *ngIf="orderItem.status === 'Poručeno'">
                                <a class="ti-close fs-28 text-danger las la-times-circle"
                                    (click)="delete(orderItem.id)"></a>
                            </td>
                        </tr>
                    </table>
                    <div class="col-xxl-9">
                        <button class="btn btn-sm btn-success" style="align-self: center;" (click)="makeOrder()">
                            Napravi porudžbinu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>