<div class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-12">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Prijavite se na svoj nalog</h4>
                                    <form [formGroup]="form" (ngSubmit)="submit()">
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" class="form-control" value="hello@example.com" formControlName="username">
                                            <div *ngIf="errorHandling('username', 'required')" id="val-username-error" class="invalid-feedback animated fadeInUp"
                                                style="display: block;">
                                                Unesite email
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Lozinka</strong></label>
                                            <input type="password" class="form-control" value="Password" formControlName="password">
                                            <div *ngIf="errorHandling('password', 'required')" id="val-username-error" class="invalid-feedback animated fadeInUp"
                                                        style="display: block;">
                                                Unesite lozinku
                                            </div>
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                                <a href="page-forgot-password.html">Zaboravili ste lozinku?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" [disabled]="!form.valid"  class="btn btn-primary btn-block">Prijavite se</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
